doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     div(class="navbar navbar-inverse navbar-fixed-top") 
         div(class="container")
             div(class="navbar-header")
                 a(href="/" class="navbar-brand") Sistema NodeJs
             div(class="navbar-collapse collpase" id="navabar-main")
                 ul(class="nav navbar-nav")
                     li(class="dropdown")
                         a(href="/usuarios") Usuários
                     li
                         a(href="/") Teste
     div(class="container")
         block content
         
     
         footer
             div(class="container")
                 p Desenvolvido por Renan Aragão